.footer {
    background-color: #f4f4f4; 
    color: #333;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    gap: 20px;
  }
 
  
  .footer-logo {
    width: 120px;
    height: auto;
  }
  
  .footer-text {
    font-size: 1rem;
    margin: 0;
  }
  
  .social-media-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icon {
    color: #333;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #ffcc00;
  }
  
  .social-icon i {
    margin: 0;
  }