.navbar {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .logo img {
        width: 120px;
      }
  
      .nav-links {
        margin-right: 10%;
        list-style: none;
        display: flex;
        gap: 2rem;
  
        a {
          color: #555;
          text-decoration: none;
          font-size: 1rem;
          transition: color 0.3s ease, border-bottom 0.3s ease;
          padding: 0.5rem 0;
  
          &:hover {
            color: #ffcc00;
            border-bottom: 2px solid #ffcc00;
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: row;
      padding: 1rem 0;
      gap: 1rem;
      background-color: #fff;
      margin-right: 0% !important;
    }
  
    .nav-links a {
      color: #333;
      padding: 1rem;
      border-bottom: 1px solid #eee;
    }
  
    .container {
     flex-direction: column;
      justify-content: center;
    }
  }
  
  .static {
    position: absolute;
    background: white;
  }
  
  .static:hover {
    opacity: 0;
  }