.joke-detail-container {
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    
    .loading-spinner {
      font-size: 3rem;
      color: #ffcc00;
      margin-top: 20px;
    }
  
    .joke-card {
      width: 100%;
      max-width: 400px;
      height: 250px;
      perspective: 1000px;
      margin: 0 auto;
  
      .card-inner {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.5s ease;
        display: flex;
      }
  
      &:hover .card-inner {
        transform: rotateY(180deg);
      }
  
      .card-front,
      .card-back {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.2rem;
        color: #333;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px 25px;
        box-sizing: border-box;
        overflow: hidden;
        word-wrap: break-word;
        min-width: 300px;
      }
  
      .card-front {
        background-color: #f4f7fa;
        position: relative;
      }
  
      .card-back {
        background-color: #ffcc00;
        transform: rotateY(180deg);
        color: white;
        position: absolute;
      }
  
      .joke-number {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 1rem;
        color: #ffcc00;
        font-weight: bold;
      }
    }
  
    .back-btn {
      display: block;
      margin-top: 20px;
      color: #333;
      font-size: 1rem;
      text-decoration: none;
      text-align: center;
      font-weight: bold;
      transition: color 0.3s ease, text-decoration 0.3s ease;
  
      &:hover {
        color: #ffcc00;
        text-decoration: underline;
      }
  
      &:focus {
        outline: none;
      }
    }
  }
  
  @media (max-width: 1024px) and (min-width: 768px) {
    .joke-detail-container {
      width: 90%;
      padding: 30px 20px; 
      margin-top: 100px; 
    }
  
    .joke-card {
      width: 100%;
      height: 250px; 
      max-width: 90%; 
    }
  
    .card-front,
    .card-back {
      font-size: 1.1rem; 
      padding: 20px; 
    }
  
    .loading-spinner {
      font-size: 2.8rem; 
    }
  
    .back-btn {
      font-size: 1rem; 
      padding: 10px 20px; 
    }
  }

  @media (max-width: 768px) {
    .joke-detail-container {
      width: 90%;
      padding: 20px;
      margin-top: 100px;
    }
  
    .joke-card {
      width: 100%;
      height: 200px;
      max-width: 100%;
      
      
    }
  
    .card-front,
    .card-back {
      font-size: 1rem;
      padding: 15px;
    }
  
    .loading-spinner {
      font-size: 2.5rem;
    }
  
    .back-btn {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }